admin:
  address:
    socket_address:
      address: 0.0.0.0
      port_value: 9901

static_resources:
  secrets:
    - name: token
      generic_secret:
        secret:
          filename: /tmp/envoy-secrets/token
    - name: hmac
      generic_secret:
        secret:
          filename: /tmp/envoy-secrets/hmac

  listeners:
    - name: uc_listener
      address:
        socket_address:
          address: 0.0.0.0
          port_value: 8080
      filter_chains:
        - filters:
            - name: envoy.filters.network.http_connection_manager
              typed_config:
                "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                stat_prefix: uc_http
                codec_type: AUTO
                route_config:
                  name: local_route
                  virtual_hosts:
                    - name: uc_service
                      domains: ["*"]
                      routes:
                        - match:
                            prefix: "/"
                          route:
                            cluster: uc_cluster
                http_filters:
                  - name: envoy.filters.http.jwt_authn
                    typed_config:
                      "@type": type.googleapis.com/envoy.extensions.filters.http.jwt_authn.v3.JwtAuthentication
                      providers:
                        oidc_provider:
                          issuer: "${OIDC_ISSUER}"
                          audiences:
                            - "${OIDC_CLIENT_ID}"
                          remote_jwks:
                            http_uri:
                              uri: "${OIDC_JWKS_URI}"
                              cluster: jwks_cluster
                              timeout: 5s
                            cache_duration:
                              seconds: 300
                          forward: true
                          forward_payload_header: x-jwt-payload
                          from_headers:
                            - name: Authorization
                              value_prefix: "Bearer "
                      rules:
                        - match:
                            prefix: "/"
                          requires:
                            requires_any:
                              requirements:
                                - provider_name: oidc_provider
                                - allow_missing: {}

                  - name: envoy.filters.http.oauth2
                    typed_config:
                      "@type": type.googleapis.com/envoy.extensions.filters.http.oauth2.v3.OAuth2
                      config:
                        token_endpoint:
                          cluster: oidc_cluster
                          uri: "${OIDC_TOKEN_ENDPOINT}"
                          timeout: 5s
                        authorization_endpoint: "${OIDC_AUTHORIZATION_ENDPOINT}"
                        redirect_uri: "%REQ(x-forwarded-proto)%://%REQ(:authority)%${OIDC_CALLBACK_PATH}"
                        redirect_path_matcher:
                          path:
                            exact: "${OIDC_CALLBACK_PATH}"
                        signout_path:
                          path:
                            exact: "/signout"
                        credentials:
                          client_id: "${OIDC_CLIENT_ID}"
                          token_secret:
                            name: token
                          hmac_secret:
                            name: hmac
                        forward_bearer_token: true
                        auth_scopes:
                          - "${OIDC_SCOPES}"
                        pass_through_matcher:
                          - name: ":path"
                            string_match:
                              prefix: "/api/2.1/unity-catalog"
                              ignore_case: true

                  - name: envoy.filters.http.router
                    typed_config:
                      "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router

  clusters:
    - name: uc_cluster
      connect_timeout: 5s
      type: STATIC
      lb_policy: ROUND_ROBIN
      load_assignment:
        cluster_name: uc_cluster
        endpoints:
          - lb_endpoints:
              - endpoint:
                  address:
                    socket_address:
                      address: 127.0.0.1
                      port_value: 8081

    - name: oidc_cluster
      connect_timeout: 5s
      type: LOGICAL_DNS
      lb_policy: ROUND_ROBIN
      load_assignment:
        cluster_name: oidc_cluster
        endpoints:
          - lb_endpoints:
              - endpoint:
                  address:
                    socket_address:
                      address: "${OIDC_PROVIDER_DOMAIN}"
                      port_value: 443
      transport_socket:
        name: envoy.transport_sockets.tls
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
          sni: "${OIDC_PROVIDER_DOMAIN}"

    - name: jwks_cluster
      connect_timeout: 5s
      type: LOGICAL_DNS
      lb_policy: ROUND_ROBIN
      load_assignment:
        cluster_name: jwks_cluster
        endpoints:
          - lb_endpoints:
              - endpoint:
                  address:
                    socket_address:
                      address: "${OIDC_PROVIDER_DOMAIN}"
                      port_value: 443
      transport_socket:
        name: envoy.transport_sockets.tls
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
          sni: "${OIDC_PROVIDER_DOMAIN}"
