# This is a CODEOWNERS file for unitycatalog
# See https://help.github.com/articles/about-codeowners/ for more information

* @tdas @dennyglee @rameshchandra

# Builds and tests
build.sbt @tdas
version.sbt @tdas
/build/ @tdas
/project/ @tdas
/.github/ @tdas
/tests/ @tdas
/integration-tests/ @tdas

# Binary scripts and configs
/bin/ @tdas
/etc/ @tdas

# Docs
/docs/ @dennyglee
/mkdocs.yml @dennyglee
/docs/ai/ @benwilson2

# API
/api/ @rameshchandra @tdas

# UI
/ui/ @yc-shawn @jamieknight-db

# AI
/ai/ @dennyglee @serena-ruan @benwilson2

# Spark Connector
/spark-connector/ @tdas @cloud-fan

# Docker
Dockerfile @dennyglee
*.dockerfile @dennyglee

# Clients
/clients/ @tdas
