etc/db/h2db.mv.db
etc/db/h2db.trace.db
target/

# Intellij IDEA files
.idea/
*.iml

.bsp/
etc/logs/
api/.openapi-generator
build/sbt-launch-*
venv
uc_docs_venv
.venv
.DS_Store
server_pid.txt
site
python_engine.log
.python-version
.java-version

# Signing keys and access tokens
etc/conf/certs.json
etc/conf/*.txt
etc/conf/*.der
connectors/spark/etc/conf/certs.json
connectors/spark/etc/conf/*.txt
connectors/spark/etc/conf/*.der