etc/db/h2db.mv.db
target/

# Intellij IDEA files
.idea/
*.iml

.bsp/
etc/logs/
api/.openapi-generator
build/sbt-launch-*
venv
server_pid.txt
site
/clients/java/.openapi-generator/
/clients/java/src/
/server/src/main/java/io/unitycatalog/server/model/
