fail_fast: true

exclude: |
  (?x)(
      ^.venv/
      ^venv/
  )

repos:
  # Markdown formatter
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.18
    hooks:
      - id: mdformat
        args: [ --number ]
        exclude: ".github|api|CODE_OF_CONDUCT.md"
        require_serial: true
        additional_dependencies:
          - mdformat_frontmatter
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.14.2
    hooks:
      - id: helm-docs
        files: ^helm/
        args:
          - --chart-search-root=helm
          - --output-file=helm/README.md
