# Copy these settings into etc/conf/server.properties when testing with
# docker/oidc/compose.yaml (Celonis OAuth server on https://dev.dev.celonis.cloud).
#
# Add to /etc/hosts: 127.0.0.1 dev.dev.celonis.cloud

server.authorization=enable
server.authorization-url=https://dev.dev.celonis.cloud/oauth2/authorize
server.token-url=https://dev.dev.celonis.cloud/oauth2/token
server.client-id=unity-catalog-local
server.client-secret=unity-catalog-local-secret
server.redirect-port=8080
server.allowed-issuers=https://dev.dev.celonis.cloud
server.audiences=unity-catalog-local
