/* Dark mode colors. */
/*
:root {
  --sl-color-accent-low: #1b223d;
  --sl-color-accent: #4b5ec4;
  --sl-color-accent-high: #bcc7ec;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c6c8ce;
  --sl-color-gray-3: #a0a4ae;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
}
*/

/* Light mode colors. */
/*
:root[data-theme="light"] {
  --sl-color-accent-low: #cdd6f2;
  --sl-color-accent: #3544a6;
  --sl-color-accent-high: #242e5a;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;
}
*/

/* Full width images */
.full-width {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}
