name: Publish Docs

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: "docs/.nvmrc"
          registry-url: https://registry.npmjs.org
      - run: cd docs
      - run: npm ci
      - run: npm run build
      - uses: actions/upload-artifact@v4
        with:
          name: site
          path: docs/dist
  swagger:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
    steps:
      - uses: actions/checkout@v4
      - name: Generate Swagger UI
        uses: Legion2/swagger-ui-action@v1
        with:
          output: ./swagger-ui/swagger-docs
          spec-file: ./api/all.yaml
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/upload-artifact@v4
        with:
          name: swagger
          path: swagger-ui
  merge-artifacts:
    runs-on: ubuntu-latest
    needs:
      - site
      - swagger
    steps:
      - uses: actions/download-artifact@v5
        with:
          name: site
          path: dist
      - uses: actions/download-artifact@v5
        with:
          name: swagger
          path: dist/swagger-docs
      - uses: actions/upload-artifact@v4
        with:
          name: github-pages
          path: dist
  publish:
    runs-on: ubuntu-latest
    needs: merge-artifacts
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to Github Pages
        uses: actions/deploy-pages@v4
