# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Unit Tests

on:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  contents: read
  checks: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

      # 'integrationTests' is not in root project, since we avoid running it via `./build/sbt test`,
      # Here, we explicitly compile `integrationTests` to catch compilation issues early.
    - name: Compile integration tests to verify compilation and checkstyle issues.
      run: build/sbt integrationTests/test:compile

    - name: Run tests with coverage
      run: build/sbt -J-Xmx2G +jacoco
    - name: Upload test artifacts for manual inspection
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: sbt-test-results
        path: |
          connectors/spark/target/test-reports/**/*.xml
          examples/cli/target/test-reports/**/*.xml
          server/target/test-reports/**/*.xml
    - name: Publish Test Report
      if: always()
      uses: scacap/action-surefire-report@v1
      with:
        report_paths: 'connectors/spark/target/test-reports/**/*.xml,examples/cli/target/test-reports/**/*.xml,server/target/test-reports/**/*.xml'
    - name: Run license check
      run: build/sbt licenseCheck
